$darkBlue: #091f31;
$midBlue: #135181;
$lightBlue: #6CADDF;

.page {
  min-height: 100%;
  padding-bottom: 4rem;
  height: fit-content;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
  }
}

.container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  width: 100%;
  flex-direction: row;
}

.column {
  width: 100%;
  flex-direction: column;
}

.white {
  color: white;
}

.wrap {
  max-width: 900px;
  width: 80%;
}

.lightBlue {
  background-color: $lightBlue;
}

.backgroundMid {
  background-color: $midBlue;
}

.backgroundDark {
  background-color: $darkBlue;
}


// the gracker widget
.trackerBody {
  width: 100%;
  background-color: $midBlue;
  height: 13rem;
  position: relative;
  padding: 0.2rem 0 1rem 1rem;
  border-radius: 1rem;
  border: #fff 2px solid;
  color: white;
}

.progressWrap {
  position: relative;
  left: 10%;
  width: 90%;
}

.progressBar {
  width: 100%;
  background-color: black;
  height: 1.4rem;
  position: absolute;
  top: 2rem;
  border-radius: .7rem 0 0 .7rem;
}

.progressBarBackground {
  border: black 1px solid;
}

.progressBarProgress {
  background-color: $lightBlue;
}

.progressTicker {
  background-color: transparent;
  border-right: white 3px dashed;
  height: 2rem;
}

.liveProgressTicker {
  top: 1.4rem;
  border-right: gold 3px dashed;
}

.progressStatus {
  width: 10%;
}

.progressTickerText {
  position: absolute;
  top: 2.2rem;
  right: 0;
  text-align: right;
  max-width: 4rem;
}

.liveProgressTickerText {
  top: -2.4rem;
  color: gold;
}

// the star
.four-point-star::after,
.four-point-star::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2726";
  font-size: 3.5rem;
}

.four-point-star::after {
  /* The foreground star */
  background: linear-gradient(135deg, white 30%, $lightBlue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.four-point-star::before {
  /* The star shadow */
  color: transparent;
  text-shadow: 1px 2px 3px rgb(183, 225, 228);
}

.four-point-star {
  position: relative;
  width: 3.5rem;
  top: -2.5rem;
  cursor: pointer;
  transform: scale(70%, 100%);
  z-index: 10;
}

.grow {
  transition: all .2s ease-in-out;
}

.grow:hover {
  transform: scale(85%, 110%) translate(5px, -5px) skew(-5deg);
}

/* CSS */
.mainButton {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .1) 0 2px 5px 0, rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  min-height: 3rem;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 14rem;
}

.mainButton:disabled {
  cursor: default;
}

.mainButton:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}