.schedule {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  scroll-behavior: smooth;

  & * {
    user-select: none;
    margin: 0;
  }
}

@media (max-width: 670px) {
  .allWeeks {
    display: none !important;
  }
  .weeks {
    margin-left: 0px !important;
  }
}

.allWeeks {
  height: 100%;
  width: 120px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;

  p {
    border-left: 1px solid #333;
    margin: 0;
    padding: 10px;
    transition: font-size 0.1s ease, background-color 0.1s ease;

    &:hover {
      font-size: 18px;
      background-color: #ccc;
    }
  }
}

.weeks {
  width: 100%;

  &[data-controls='true'] {
    margin-left: 200px;
  }
}

.week {
  .weekHeader {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(108, 172, 220);
    color: white;
    height: 90px;
    font-family: 'Montserrat';
    font-weight: bolder;

    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
    }

    & > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
    }
  }
}

.match {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  & > p {
    color: black;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 28px;
    background-color: #ccc;

    &:first-child {
      margin-right: auto;
    }

    &:last-child {
      margin-left: auto;
    }

    &[data-status='win'] {
      background-color: rgb(9, 173, 50);
    }

    &[data-status='loss'] {
      background-color: rgb(223, 86, 52);
    }
  }

  & > div {
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    flex-direction: row;
  }
  &:nth-child(n) {
    background-color: #fff;
    color: black;
  }
  &:nth-child(2n) {
    background-color: #ccc;
    color: black;
  }
}
